*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, 'san-serif';
    overflow-x: hidden;

}
a{
    text-decoration: none;
}

.counter{
    margin: 1rem;
    padding: 0.8rem;
    background-color: #ddd;
    box-shadow: -1px 6px 18px  rgba(170,170,170,0.5);
}

.counter:hover{
    margin: 0.8rem;
    padding: 1rem;
    background-color: #ccc;
    box-shadow: -1px 6px 18px  rgba(170,170,170,0.5);
}

.counter-title{
    font-size: 22px;
    font-weight: 700;
    padding: 4px;
}

.counter-count{
    font-size: 64px;
    font-weight: 700;
    padding: 2px;
}

p#dropdownMenuButton.dropdown-toggle.hidden{
    margin:-1.7rem 0 0 0;
    cursor: pointer;
}

div.dropdown{
    padding: 0;
    cursor: pointer;
}

.status-box{
    position: relative;
}

.close-order{
    position: absolute;
    top: 05px;
    right: 10px;
}

/**** BUTTONS ****/
.btn-login{
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
    transition: .3s all ease-in-out;
}
.btn-login:hover{
    background-color: rgba(255,255,255,1);
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 7px;
}

.btn-basic{
    padding:8px 30px;
    font-size:18px;
    letter-spacing:1px;
    border-radius: 5px;
    background-color:#EBE8D2;
    color:#17171A;
    border: solid 1px #EBE8D2;
    transition: .3s all ease-in-out;
}
.btn-basic-dark{
    background-color:#17171A;
    color:#EBE8D2;
    transition: .3s all ease-in-out;
}
.btn-basic:hover,.btn-basic:active,.btn-basic:focus{
    background-color: #F35F5F;
    color: #17171A;
    border: solid 1px #F35F5F;
}
.btn-basic:disabled,
.btn-basic[disabled]{
    background-color: #CCC;
    color: #17171A;
    border: solid 1px #CCC;
}
.btn-semiblock{
    padding: 15px 80px!important;
    margin: 0 20px;
}
.btn-logout{
    position: absolute;
    right: 40px;
    border: 1px solid #007BFF;
    color: #efefef;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #007BFF!important;
    transition: .3s all ease-in-out;
    margin: auto;
  
}
.btn-logout:hover{
    color:#fff; 
    background-color: #007BFF!important;
    border: 2px solid #007BFF;
}

.btn-submit{
    background-color: #FFF;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
    padding: 6px 50px;
    margin-top: 20px;
    transition: .3s all ease-in-out;
}
.btn-submit:hover{
    background-color: #007BFF;
    color: #FFF;
    border: 2px solid #007BFF;
}

.btn-ship{
    background-color: #007BFF;
    color: #FFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
    padding: 4px 30px;
    transition: .3s all ease-in-out;
}

.btn-back{
    background-color: #FFF;
    color: #f71138;
    border: 2px solid #f71138;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 1px;
    padding: 6px 60px;
    margin-top: 20px;
    transition: .3s all ease-in-out;
}
.btn-back:hover{
    background-color: #f71138;
    color: #FFF;
    border: 2px solid #f71138;
}

.btn-delete,
.btn-delete:hover{
    background-color: #f71138;
    border: 2px solid #f71138;
}


.main-panel .sub-btn{
    background: #007bff;
    background: linear-gradient(rgb(16, 76, 241), rgb(62, 192, 231));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px #999;
    text-decoration: none;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.6);       
} 

.sub-btn:hover{
    border-color: #555;
    cursor: pointer;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.9);
    background: #007bff;
    background: linear-gradient(to top, rgb(62, 192, 231), rgb(128, 140, 173));
}

table, th, td{
    padding: 0.5rem;
    text-align: center;
}

.admin-tables{
    border-radius: 10px;
    box-shadow: -1px 6px 18px  rgba(170,170,170,0.5);
}

.table i:hover{
    cursor: pointer;
}


button{
    margin: 5px;
}
container{
    width: 100px;
    margin-left: 10px;
}
    

    


/**** Admindashboard ****/

#admindashboard{
    background-color: #007BFF;
    color: #FFF;
    height: 92.5vh;
    text-align: center;   
}
#admindashboard .btn-login{
    background-color: rgba(255,255,255,0);
    border: solid 2px;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: 60px 0;
    transition: .3s all ease-in-out;
}
#admindashboard .btn-login:hover{
    background-color: rgba(255,255,255,0.9);
    color: #007BFF;
    border: solid 2px;
    border-radius: 7px;
}

#admindashboard p{
    color: #FFF;
    margin: 70px 0;
    font-size: 28px;
    font-weight: 300;
} 


/**** SignUp ****/
.signin-signup-link a:hover{
    color: #007BFF;
}



/**** Add Category/Product ****/
.mainpanel{
    margin: 40px 0px 50px;
}
.formheading h3{
    font-size: 35px;
}
.formheading h3 #formicon{
    margin-right: 20px!important;
}
.mainpanel-form .formlabel{
    font-size: 20px;
    color: #007BFF;
}
.mainpanel-form input[type="text"],
.mainpanel-form input[type="file"],
.form-textarea{
    font-size: 18px;
    color: #424242;
}

/**** Add Product ****/
/* Progress-Loader */
.overlay{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: -788px;
    left: 0;
    padding: 29.3% 46%;
    z-index: 9999;

}

.loader {
  border: 13px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid #007BFF;
  width: 70px;
  height: 70px;
  margin: 50px 0 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/**** Manage Category/Product ****/
.mainpanel-table{
    text-align: center;
}


/**** Order Details ****/
#rupeeicon{
    font-size: 14px!important;
    color: #424242;
    font-weight: 300;
}














/**************************
        MOBILE
**************************/


@media (max-width: 990px) and (min-width: 300px){
    /**** Admindashboard ****/
    #admindashboard{
        height: 100%;
    }
    #admindashboard .btn-login{
        font-size: 17px;
        margin: 40px 0 0;
    }
    #admindashboard .btn-register{
        margin: 0 0 40px;
    }
    #admindashboard p{
        font-size: 22px;
        margin: 20px 0;
    }
    #admindashboard .lower{
    padding: 20px 0;
    }
    #admindashboard span{
        font-size: 20px;
    }
  
}






